/* General Styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

/* Navbar Styles */
.navbar {
  background-color: #0874e0; /* New Dark Blue */
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .brand {
  color: #f7f4f4; /* Red */
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar a {
  color: #ffffff; /* White */
  margin: 0 1rem;
  text-decoration: none;
}

.navbar a:hover {
  text-decoration: underline;
}

.navbar .btn-logout {
  background-color: #ff4d4d; /* Red */
  color: #ffffff; /* White */
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

/* Footer Styles */
.footer {
  background-color: #0874e0; /* New Dark Blue */
  color: #ffffff; /* White */
  padding: 1rem;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* HomePage Styles */
.homepage {
  padding: 2rem;
  background-color: #ffffff; /* White */
}

.homepage .hero {
  background-color: #ff4d4d; /* Red */
  color: #ffffff; /* White */
  padding: 2rem;
  border-radius: 8px;
  text-align: center;
  margin-bottom: 2rem;
}

.homepage h1 {
  margin-top: 0;
}

.homepage p {
  font-size: 1.1rem;
}

/* Form Styles */
.form-container {
  max-width: 400px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #e8e5e537; /* White */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container h1 {
  margin-bottom: 1rem;
  color: #0874e0; /* New Dark Blue */
  font-weight: bold;
}

.form-container .chakra-form-control {
  margin-bottom: 1rem;
}

.form-container .chakra-button {
  background-color: #ff4d4d; /* Red */
  color: #ffffff; /* White */
}
